<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250709337413-s7edt7due3qlgj7m0p8du2g8juq644d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250709337413-s7edt7due3qlgj7m0p8du2g8juq644d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCC4dmaxxk2PJ3X8XkcUUG-dOqcFr-U7MI</string>
	<key>GCM_SENDER_ID</key>
	<string>250709337413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>the.speed.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-59818</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-59818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250709337413:ios:65ffd4f25479f85fe78a2c</string>
</dict>
</plist>